
.point1{
    left: 390px;
    top: 450px;
}
.point2{
    left: 900px;
    top: 450px;
}
.point3{
    left: 1350px;
    top: 650px;
}
.point4{
    left: 1400px;
    top: 1061px;
}
.point5{
    left: 200px;
    top: 460px;
}
.point6{
    left: 1280px;
    top: 120px;
}
.showdetail1{
    left: 440px;
    top: 350px;
}
.showdetail2{
    left: 1000px;
    top: 200px;
}
.showdetail3{
    left: 1450px;
    top: 450px;
}
.showdetail4{
    left: 1469px;
    top: 861px;
}
.showdetail5{
    left: 230px;
    top: 360px;
}
.showdetail6{
    left: 1360px;
    top: 61px;
}
