.collection-container {
    width: 1920px;
    height: 1056px;
}

.collection1-container {
    width: 1920px;
    height: 1059px;
}

.index-header {
    position: relative;
}

.index-header img {
    width: 100%;
    height: 100%;
    display: block;
}

.index-header .getback {
    position: absolute;
    top: 60px;
    left: 64px;
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
}
.getback a{
    color: #fff;
}
.index-header .getback img {
    width: 36px;
    height: 31px;
    display: inline;
    margin-right: 13px;
}

.index-header .collection-nav {
    position: absolute;
    bottom: 18px;
    left: 103px;
}

.navitem ul li {
    float: left;
    width: auto;
    margin-right: 70px;
    cursor: pointer;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}

.navitem ul::after {
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

.active-navitem {
    border-bottom: 3px solid #F2B101;
    padding-bottom: 5px;
}

.pic-block {
    margin-top: 18px;
}

.pic-block img {
    width: 165px;
    height: 124px;
    display: inline-block;
    margin-right: 13px;
    cursor: pointer;
}

.point1 {
    position: absolute;
    width: 820px;
    height: 160px;
    left: 0;
    top: 280px;
    cursor: pointer;
}

.point2 {
    position: absolute;
    width: 500px;
    height: 170px;
    left: 820px;
    top: 320px;
    cursor: pointer;
}

.point3 {
    position: absolute;
    width: 870px;
    height: 153px;
    left: 83px;
    bottom: 190px;
    cursor: pointer;
}
.point4{
    position: absolute;
    width: 360px;
    height: 1000px;
    left: 684px;
    top: 0;
    cursor: pointer;
}
.point5{
    position: absolute;
    width: 1768px;
    height: 388px;
    left: 100px;
    top: 436px;
    cursor: pointer;
}
.point301{
    position: absolute;
    width: 473px;
    height: 491px;
    left: 724px;
    top: 253px;
    cursor: pointer;
}
.showdetail {
    width: 642px;
    height: auto;
    background: #4E1060;
    opacity: 0.74;
    border-radius: 30px;
    padding: 42px 49px;
    box-sizing: border-box;
    display: none;
    position: absolute;
}

.showdetail span {
    width: 13px;
    height: 13px;
    background: #F2B101;
    border-radius: 50%;
    display: inline-block;
    margin-right: 13px;
}

.showdetail h3 {
    margin-bottom: 35px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}

.showdetail label {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
}

.showdetail3 {
    left: 383px;
    bottom: 210px;
}

.showdetail1 {
    left: 100px;
    top: 200px;
}

.showdetail2 {
    left: 900px;
    top: 260px;
}
.showdetail4{
    left: 800px;
    top: 240px;
}
.showdetail5{
    left: 800px;
    top: 140px;
}
.showdetail301{
    left: 900px;
    top: 260px;
}
.pic-item , .big-pic-item{
    display: none;
}
