.pic-item{
    display: none;
}
.point1{
    left: 600px;
    top: 210px;
}
.showdetail1{
    left: 700px;
    top: 210px;
}
.point2{
    left: 100px;
    bottom: 210px;
}
.showdetail2{
    left: 180px;
    bottom: 210px;
}
.point3{
    left: 400px;
    bottom: 170px;
}
.showdetail3{
    left: 500px;
    bottom: 170px;
}
.point4{
    left: 650px;
    bottom: 210px;
}
.showdetail4{
    left: 650px;
    bottom: 310px;
}
.point5{
    left: 600px;
    bottom: 410px;
}
.showdetail5{
    left: 300px;
    bottom: 410px;
}
.point6{
    left: 900px;
    bottom: 380px;
}
.showdetail6{
    left: 700px;
    bottom: 380px;
}
.point7{
    left: 100px;
    bottom: 210px;
}
.showdetail7{
    left: 180px;
    bottom: 210px;
}
.point8{
    left: 100px;
    bottom: 210px;
}
.showdetail8{
    left: 180px;
    bottom: 210px;
}
.point9{
    left: 500px;
    bottom: 110px;
}
.showdetail9{
    left: 500px;
    bottom: 310px;
}
.point10{
    left: 100px;
    bottom: 210px;
}
.showdetail10{
    left: 180px;
    bottom: 210px;
}
.point11{
    left: 100px;
    bottom: 210px;
}
.showdetail11{
    left: 180px;
    bottom: 210px;
}
.point12{
    left: 100px;
    bottom: 210px;
}
.showdetail12{
    left: 180px;
    bottom: 210px;
}
.point13{
    left: 100px;
    bottom: 210px;
}
.showdetail13{
    left: 180px;
    bottom: 210px;
}
.point14{
    left: 300px;
    bottom: 619px;
}
.showdetail14{
    left: 500px;
    bottom: 619px;
}
.point15{
    left: 1200px;
    bottom: 650px;
}
.showdetail15{
    left: 1000px;
    bottom: 650px;
}
.point16{
    left: 100px;
    bottom: 210px;
}
.showdetail16{
    left: 180px;
    bottom: 210px;
}
.point17{
    left: 100px;
    bottom: 210px;
}
.showdetail17{
    left: 180px;
    bottom: 210px;
}
.point18{
    left: 100px;
    bottom: 210px;
}
.showdetail18{
    left: 180px;
    bottom: 210px;
}
.point19{
    left: 100px;
    bottom: 210px;
}
.showdetail19{
    left: 180px;
    bottom: 210px;
}
.point20{
    left: 100px;
    bottom: 210px;
}
.showdetail20{
    left: 180px;
    bottom: 210px;
}
.point21{
    left: 700px;
    top: 610px;
}
.showdetail21{
    left: 400px;
    top: 610px;
}
.point22{
    right: 500px;
    bottom: 510px;
}
.showdetail22{
    right: 600px;
    bottom: 510px;
}
.point23{
    right: 600px;
    bottom: 430px
}
.showdetail23{
    right: 600px;
    bottom: 430px
}
