.collection-container {
    width: 1920px;
    height: 100%;
    min-height: 1059px;
}

.collection1-container {
    width: 1920px;
    height: 1059px;
}

.index-header {
    position: relative;
    height:100%;
    min-height: 1059px;
}

.index-header > img {
    width: 1920px;
    height: 100%;
    display: block;
    min-height: 1059px;
}

.index-header .getback {
    position: absolute;
    top: 60px;
    left: 64px;
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 28px;
    cursor: pointer;
}
.getback a{
    color: #fff;
}
.index-header .getback img {
    width: 36px;
    height: 31px;
    display: inline;
    margin-right: 13px;
}

.index-header .collection-nav {
    position: absolute;
    bottom: 18px;
    left: 103px;
}
.navitem ul li {
    float: left;
    width: auto;
    margin-right: 70px;
    cursor: pointer;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
}

.navitem ul::after {
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

.active-navitem {
    border-bottom: 3px solid #F2B101;
    padding-bottom: 5px;
}


.pic-block img {
    width: 165px;
    height: 124px;
    display: inline-block;
    margin-right: 13px;
    cursor: pointer;
}
.showdetail {
    width: 450px;
    height: auto;
    background: #4E1060;
    opacity: 0.74;
    border-radius: 30px;
    padding: 42px 49px;
    box-sizing: border-box;
    display: none;
    position: absolute;
}

.showdetail span {
    width: 13px;
    height: 13px;
    background: #F2B101;
    border-radius: 50%;
    display: inline-block;
    margin-right: 13px;
}

.showdetail h3 {
    margin-bottom: 35px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
}

.showdetail label {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
}
.getmore{
    text-align: right;
    width: 100%;
}
.getmore a{
    color:#ffffff;
}
.point {
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../images/introduction/point.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation: shan 2s ease infinite;
    cursor: pointer;
    z-index: 9999;
}
@-webkit-keyframes shan {
    0% {
        box-shadow: 0 0 20px 2px rgba(255,255,255,.8);
    }
    50% {
        box-shadow: 0 0 20px 2px rgba(255,255,255,.2);
    }
    100% {
        box-shadow: 0 0 20px 2px rgba(255,255,255,.8);
    }
}
@-moz-keyframes shan {
    0% {
        box-shadow: 0 0 20px 2px rgba(255,255,255,.8);
    }
    50% {
        box-shadow: 0 0 20px 2px rgba(255,255,255,.2);
    }
    100% {
        box-shadow: 0 0 20px 2px rgba(255,255,255,.8);
    }
}

@keyframes shan {
    0% {
        box-shadow: 0 0 20px 2px rgba(255,255,255,.8);
    }
    50% {
        box-shadow: 0 0 20px 2px rgba(255,255,255,.2);
    }
    100% {
        box-shadow: 0 0 20px 2px rgba(255,255,255,.8);
    }
}
