.newsdetail-container{
    width:100%;
    height:auto;
    background: #ECECEC;
}
.newsdetail-header img{
    width:100%;
    height:100%;
    display: block;
}
.newsdetail-block{
    margin:0 auto;
    height:auto;
    background: #fff;
    padding:40px 47px;
    box-sizing: border-box;
}
.content-detail{
    width: 100%;
    border-bottom: 1px solid #E5E3E2;
    padding-bottom: 18px;
    box-sizing: border-box;
    margin-top: 23px;
}
.detail-l{
    width: 243px;
    float:left;
}
.detail-l img{
    width: 243px;
    height: 144px;
}
.detail-r{
    margin-left: 255px;
}
.detail-r .detail-r-title{
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 500;
    line-height: 25px;
    color: #1F2122;
    overflow: hidden;  /** 隐藏超出的内容 **/
    word-break: break-all;
    text-overflow: ellipsis; /** 多行 **/
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 1; /** 显示的行数 **/
}
.detail-r .detail-r-content{
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 24px;
    color: #313131;
    margin-top: 15px;
    overflow: hidden;  /** 隐藏超出的内容 **/
    word-break: break-all;
    text-overflow: ellipsis; /** 多行 **/
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
}
.detail-r .detail-r-date h3{
    margin-top: 18px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    line-height: 22px;
    color: #8D7A9C;
}
.detail-r .detail-r-date span{
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 500;
    line-height: 16px;
    color: #8D7A9C;
}
