.visit-container{
    width:100%;
    height:auto;
    background: #ECECEC;
}
.index-header img{
    width:100%;
    height:100%;
    display: block;
}
.visit-block{
    height:auto;
    background: #ffffff;
    margin:30px auto 84px;
    padding:40px 60px 60px;
    box-sizing: border-box;
}
.cg-content{
    height:356px;
    background: url("../images/visit/cgdl-bg.png") no-repeat 100%;
}
.needknow-content{
    height:663px;
    background: url("../images/visit/needknow-bg.png") no-repeat 100%;
    margin-top: 35px;
}
.cg-content div{
    width:896px;
    height:auto;
    font-size: 14px;
    font-family: PingFang SC;
    line-height: 24px;
    color: #313131;
    padding-top: 87px;
    padding-left: 39px;
    box-sizing: border-box;
}
.cg-content::after{
    display: block;
    content: '';
    height:0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}
.cg-content  p{
    margin-top: 20px;
}
.cg-content button{
    float: right;
    width: 141px;
    height: 42px;
    background: #F2B101;
    opacity: 1;
    border-radius: 4px;
    color:#fff;
    border: 0;
    margin-top: -10px;
    cursor: pointer;
}
.needknow-content{
    position:relative;
}
.needknow-content div{
    position: absolute;
    width: 18px;
    height: 475px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 25px;
    color: #1F2122;
    top:30px;
}
